.alert {
  @extend .alert;
  &.search {
    @extend .alert-warning;
    width: 100%;
  }
}

/* Common, default styles for the notification box */

.s-alert-box,
.s-alert-box * {
  box-sizing: border-box;
}

.s-alert-box {
    position: fixed;
    background: $secondary-color-darker2;
    padding: 8px;
    line-height: 22px;
    padding-right: 40px;
    z-index: 9999;
    pointer-events: none;
    color: rgba(250,251,255,0.95);
    max-width: 300px;
    -webkit-transition: top .4s, bottom .4s;
    transition: top .4s, bottom .4s;
}

.s-alert-box.s-alert-show {
    pointer-events: auto;
}

.s-alert-box a {
  color: inherit;
  opacity: 0.7;
  font-weight: 700;
}

.s-alert-box a:hover,
.s-alert-box a:focus {
  opacity: 1;
}

.s-alert-box p {
  margin: 0;
}

.s-alert-box.s-alert-show,
.s-alert-box.s-alert-visible {
    pointer-events: auto;
}

.s-alert-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.s-alert-close:hover,
.s-alert-close:focus {
    outline: none;
}

.s-alert-close::before,
.s-alert-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    background: #fff;
}

.s-alert-close:hover::before,
.s-alert-close:hover::after {
    background: #fff;
}

.s-alert-close::before {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.s-alert-close::after {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* positions */
$alert-offset: 40px;

.s-alert-bottom-left {
    top: auto;
    right: auto;
    bottom: $alert-offset;
    left: $alert-offset;
}
.s-alert-top-left {
    top: 30px;
    right: auto;
    bottom: auto;
    left: $alert-offset;
}
.s-alert-top-right {
    top: $alert-offset;
    right: $alert-offset;
    bottom: auto;
    left: auto;
}
.s-alert-bottom-right { /*default*/
    top: auto;
    right: $alert-offset;
    bottom: $alert-offset;
    left: auto;
}

.s-alert-wrapper {
  margin-bottom: 10px;
}

.s-alert-bottom {
  max-width: 40%;
  width: auto;
  bottom: 0;
  border-radius: 4px;
  padding: 4px;
  margin-right: auto;
  margin-left: auto;
}

.s-alert-top {
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
}

/* conditions */

.s-alert-info {
    background: $info;
    color: #fff;
}
.s-alert-success {
    background: $success;
    color: #fff;
}
.s-alert-warning {
    background: $warning;
    color: #fff;
}
.s-alert-error {
    background: $danger;
    color: #fff;
}

[class^="s-alert-effect-"].s-alert-hide,
[class*=" s-alert-effect-"].s-alert-hide {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

/* height measurement helper */
.s-alert-box-height {
    visibility: hidden;
    position: fixed;
}

