@import "bootstrap/scss/bootstrap.scss";
$fa-font-path: "./fonts" !default;
@import "font-awesome/scss/font-awesome.scss";

@import './variables.scss';

// Own styles
@import './grid.scss';
@import './layout.scss';
@import './alerts.scss';
@import './buttons.scss';
@import './links.scss';
@import './icons.scss';
@import './player.scss';
@import './spinner.scss';
@import './song-view.scss';
@import './progress.scss';
@import './neon.scss';
@import './collection.scss';
@import './sidebar.scss';
@import './settings.scss';
@import './song-row.scss';
@import './artist-view.scss';
@import './audio-canvas.scss';
@import './lazy-image.scss';
@import './toggle.scss';
@import './playlists.scss';

html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: $greyscale-darker2;
  font-family: $font-family;
  font-size: 16px;
  color: $greyscale-color-100;
  font-smoothing: antialiased;
}

blockquote {
  p {
    text-align: center;
  }
}

.library-controls {
  padding: 10px 0;
}

.music-table {
  color: $primary-color !important;
  margin: 0;
  padding: 0;
  @extend .list-unstyled;
}

.media-thumb {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }

  width: 76px;
  height: 76px;

  div {
    min-width: 40px;
  }
}

.lazy-image {
  width: 100%;
  height: 100%;
}

span.label {
  color: $secondary-color;
  background-color: $yellow-color;
}

.image {
  width: 100%;
}

.cover-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 4em;
}

.react-contexify {
  z-index: 1000;
}
