.artist-view {
  width: 100%;
  height: 100%;

  .main {
    margin: 0 auto;
    color: $white;
  }

  .card {
    background: $greyscale-darker1;
  }

  ul {
    @extend .list-unstyled;

    .card-header {
      @extend .d-flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $greyscale-color;
    }

    h3 {
      .lazy-image {
        width: 150px;
        height: 150px;
      }

      button {
        line-height: 20px;
        max-height: 40px;
        width: 40px;
      }

      span {
        min-width: 60%;
        padding-left: 20px;
      }
    }

    .card {
      margin-top: 40px;
    }

    .song-row {
      div {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
