.btn,
button {
  @extend .btn;
  color: $primary-color-100;
  background-color: $primary-color;
  font-weight: bold;

  &:hover {
    color: $primary-color-100;
    background-color: $primary-color-800;
  }

  &.circle {
    border-radius: 100%;

    i {
      margin: 0;
      display: inline;
    }
  }

  &.spaced {
    margin-right: 5px;
  }

  &.with-bg {
  }
}

.song-menu {
  button {
    width: 100%;
    text-align: left;
    margin: 0;

    i {
      margin-right: 10px;
    }
  }
}

.react-contexify {
  background-color: $greyscale-color !important;
  border: 0;
  box-shadow: none !important;
  padding: 0;
}

.settings-form button[type=submit] {
  width: 100%;
}
