.artists-table,
.queue,
.collection {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .blockquote {
    height: 100%;
    @extend .d-flex;
    align-items: center;

    p {
      margin: 0 auto;
      z-index: 2;
    }
  }

  &.no-results {
    margin: auto;
  }

  &.slim {
    max-width: 300px;
  }
}

.table-status {
  position: absolute;
  width: 100%;
  background-color: rgba($greyscale-lighter1, 0.7);
  color: $secondary-color-lighter2;
  text-align: center;
  padding-right: 40px;
  padding-left: 5px;
  text-align: right;
  bottom: 0;
}
