#root,
#left-sidebar-content {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: $topbar-height $topbar-height $topbar-height $topbar-height 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#left-sidebar-content {
  grid-template-areas: "topbar topbar topbar topbar" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "placeholder placeholder placeholder placeholder";
}

#root {
  grid-template-areas: "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "undefined undefined undefined undefined" "player player player player";
}

.placeholder {
  overflow: hidden;
  grid-area: placeholder;
  position: relative;
  min-height: 100px;
}

.contents {
  grid-area: contents;
  position: relative;
  overflow-y: auto;

  @extend .d-flex;
}
