.main {
  width: 100%;
  z-index: 2;

  max-width: $body-max-width;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
  }

  h2,
  p {
    position: relative;
    padding: 20px;

    @include media-breakpoint-up(md) {
      padding: 0px;
    }
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: $greyscale-color-200;
    text-transform: capitalize;
  }

}

.contents {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: table;

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
  }
}
