.playlists {
  @extend .main;

  .card {
    .badge {
      float: right;
    }
  }

  button {
    i {
      margin-left: 8px;
    }
  }

  .media {
    margin-top: 20px;
    @extend .list-unstyled;
    @extend .flex-wrap;

    li {
      @extend .song-row;
      border-top: none;
      width: 100%;
      padding: 8px;
    }
  }
}
