.player-progress {
  background: transparent;
  margin-top: -2px;
  overflow: visible;
  margin-bottom: 0px;
}

.rc-slider {
  padding: 0 !important;
}

.rc-slider-track,
.rc-slider-rail {
  height: 6px !important;
  border-radius: none !important;
  background-color: $primary-color-900 !important;
}

.rc-slider-track {
  background-color: $primary-color !important;
}

.rc-slider-handle {
  // margin-top: 0;
}

.rc-slider-handle {
  border: solid 2px $primary-color-100;
  margin-top: -7px !important;
  width: 20px !important;
  height: 20px !important;
  background-color: $primary-color;
}

.rc-slider-track {
  background-color: $primary-color-400;
}
