.settings {
  button {
    margin-bottom: 40px;
    max-width: 200px;
  }

  button[type="submit"] {
    margin-top: 40px;
  }

  .provider-buttons {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(md) {
    label {
      text-align: right;
    }

    h2 {
      margin-top: 60px;

      &:first-child {
        margin-top: 20px;
      }
    }
  }

  .btn-group {
    i {
      margin-right: 10px;
    }

    &.provider-buttons {
      a {
        background: transparent;
        cursor: pointer;
      }
    }

    button {
      background: transparent;
      color: $warning;
      font-weight: normal;
    }
  }
}

.toggle-control {
  @extend .form-control;
  background: transparent;
  border: none;
}
