#left-sidebar {
  z-index: 9999 !important;

  background-color: $greyscale-darker1;
  width: 100%;
  align-items: center;

  @include media-breakpoint-up(md) {
    max-width: 200px;
    z-index: 2 !important;
  }

  button, .button, a {
    color: $gray-100;
    background: transparent;

    .badge {
      float: right;
      margin-top: 22px;
    }
  }

  h4 {
    clear: both;
    text-align: center;
    color: $greyscale-color-100;
    line-height: 56px;
    padding-top: 20px;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      padding-top: 0px;
      background: $greyscale-darker2;
    }
  }

  ul {
    @extend .list-unstyled;
    padding-top: 35px;

    @include media-breakpoint-up(md) {
      padding-top: 0;
    }

    li {
      line-height: 60px;

      &.current {
        background-color: $greyscale-lighter1;
        a {
          color: $white;
        }
      }

      a {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: auto;
        width: 100%;
        height: 100%;
        display: inline-block;

        i {
          margin-right: 10px;
          width: 18px;
          text-align: center;
        }
      }
    }
  }

  .close-button {
    float: right;
    font-size: 30px;
  }

  i {
    margin-right: 5px;
  }
}

.sidebar-meta {
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: small;
}
