.song-view {
  a:hover {
    text-decoration: underline;
  }

  .image {
    z-index: 2;

    img {
      width: 100%;
    }
  }

  .song {
    .content {
      z-index: 2;
      table {
        background-color: $greyscale-color;

        tr {
          &:first-child {
            font-size: 36px;
            line-height: 30px;

            td {
              padding-right: 12px;
              padding-left: 12px;
            }
          }

          td {
            padding-right: 12px !important;
            padding-left: 12px !important;
            &:first-child {

              @include media-breakpoint-up(md) {
                text-align: right;
              }
            }

            border-color: transparent !important;
          }
        }
      }

      @include media-breakpoint-up(md) {
        position: relative;
      }

      .header {
        color: $primary-color;
        font-size: 1.8em;

      }
      .meta {
        color: $primary-color;
        font-size: 1.5em;
      }
    }
  }
}
