.show-cover {
  &::after {
    @extend .fa;
    content: $fa-var-play-circle-o;
    text-align: center;
    font-size: 75px;
    color: $secondary-color;
    background-color: rgba(77, 148, 170, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.artist-row,
.song-row {
  h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

  h4 {
    font-size: 1.1rem;
    color: $greyscale-lighter1;
  }

  h5, h6 {
    font-size: 1rem;
    color: $secondary-color-darker3;

    a {
      color: $secondary-color-darker3;
      font-weight: bold;
    }
  }

  .media-thumb {
    cursor: pointer;
    position: relative;

    &:hover {
      @extend .show-cover;
    }
  }

  & > a,
  & > div {
    width: 100%;
    @extend .d-flex;
    @extend .justify-content-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.slim {
    .media-actions {
      span {
        font-size: 14px;
        display: inline-block;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }

  &.current {
    border-bottom: 1px solid $primary-color;
    border-top: 1px solid $greyscale-color;
    background-color: $greyscale-darker1;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    .media-thumb {
      @extend .show-cover;
    }
  }

  .media-info {
    color: $secondary-color-lighter1;
    @extend .flex-grow-1;
    padding-left: 10px;
    padding-right: 10px;
    @extend .list-unstyled;
  }

  .media-actions {
    width: 100%;
    max-width: 40px;

    background: transparent;

    span {
      color: $secondary-color-lighter1;
    }
  }

  .label {
    margin-right: 5px;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .collapsing {
    width: 100vw;

    @include media-breakpoint-up(md) {
      height: 60px;
    }
  }

}
