// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Colors
$white: #FFF;

$primary: #2073c2;
$primary-base: $primary;
$primary-color: $primary-base;
$primary-color-100: lighten(adjust-hue($primary-base, 0), 50%);
$primary-color-400: lighten(adjust-hue($primary-base, 10), 20%);
$primary-color-600: darken(adjust-hue($primary-base, -5), 10%);
$primary-color-800: darken(adjust-hue($primary-base, -5), 10%);
$primary-color-900: darken(adjust-hue($primary-base, -5), 25%);

$secondary-base: #fefe54;
$secondary-color: $secondary-base;
$secondary-color-lighter1: lighten(adjust-hue($secondary-base, 5), 10%);
$secondary-color-lighter2: lighten(adjust-hue($secondary-base, 10), 20%);
$secondary-color-darker1: darken(adjust-hue($secondary-base, -5), 10%);
$secondary-color-darker2: darken(adjust-hue($secondary-base, -10), 20%);
$secondary-color-darker3: darken(adjust-hue($secondary-base, -10), 30%);
$secondary-color-darker4: darken(adjust-hue($secondary-base, -10), 40%);

$greyscale-base: #2f5263;
$greyscale-color: $greyscale-base;
$greyscale-color-100: lighten(adjust-hue($greyscale-base, 0), 60%);
$greyscale-color-200: lighten(adjust-hue($greyscale-base, 0), 50%);
$greyscale-lighter1: lighten(adjust-hue($greyscale-base, 5), 10%);
$greyscale-lighter2: lighten(adjust-hue($greyscale-base, 10), 20%);
$greyscale-lighter3: lighten(adjust-hue($greyscale-base, 10), 10%);
$greyscale-darker1: darken(adjust-hue($greyscale-base, -5), 10%);
$greyscale-darker2: darken(adjust-hue($greyscale-base, -10), 20%);
$greyscale-darker3: darken(adjust-hue($greyscale-base, -10), 40%);
$greyscale-darker4: darken(adjust-hue($greyscale-base, -10), 60%);

$warning-color: #dc3545;
$yellow-color: #a50;

// Sizes
$topbar-height: 60px;
$body-max-width: 600px;
